# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

.vscode

flask_session

# Environment variables
.env

# Docker
*.log


# Flask files
instance/
.webassets-cache

# Pytest cache
.pytest_cache/
